/* CSS DOCUMENT */
@charset "UTF-8";

/*configuraciones generales*/

@font-face {
    font-family:"Magtis ExtraBold";
    src: url(Fonts/Magtis-ExtraBold-free\personal\use.otf) format("otf");
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&display=swap');

* {
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #ffd1ff;
}

section{
    width: 100vw;
}

/*aca empiezan las aplicaciones*/

header{
    background-color: #683166;
    padding: 10px;
}

#menu-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.botonera{
    display: flex;
    gap: 180px;
    padding: 50px;
}

.boton{
    text-decoration: none;
    color: #ffd1ff;
    border: solid;
    border-color: #ffd1ff;
    border-radius: 10px;
    padding: 10px;
    position: relative;
	display: inline-block;
	transition: transform 0.4s ease;
}

.boton:hover {
    opacity: 1;
	transform: scale(1.05);
}

#nav_abierto{
    background-color: #1d1525;
}


main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* todo hero*/

#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b481b2;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: "Magtis ExtraBold";
    color: #1d1525;
    font-size: 10rem;
}

#bajada-h1{
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 100px;
}

/*hero-index*/
#hero-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b481b2;
    padding: 25px;
}

.main-index{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.folio{
    font-family: "Magtis ExtraBold";
    color: #ffd1ff;
    font-size: 10rem;
}

.text_moon_stars{
    display: flex;
    align-items: center;
    gap: 50px;
}

.animation {
    animation-name: girar;
    animation-duration: 17s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.girar {
    animation: girar 15s linear infinite;
}


/*aca empieza mi presentación*/
/*esto es sobre mi*/

#sobre-mi{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.foto_cv{
    margin: 20px;
    border-radius: 15px;
}

.flexdatos{
    background-color: #683166;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    border-radius: 25px;
    max-width: 650px;
}

#subtitulo-presentación{
    font-size: 2.5rem;
    color: #ffd1ff;
    font-style: italic;
}

#texto-presentación{
    font-size: 1.5rem;
    color: #ffd1ff;
}

/*esto es mis conocimientos y experiencias*/

#conocimientos-experiencias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 25px;
}

/*estudios*/

.caja-estudios{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border: solid;
    border-color: #683166;
    border-width: 10px;
    border-radius: 25px;
    padding: 40px;
}

#estudios{
    font-size: 2.5rem;
    color: #683166;
    font-style: italic;
}

.titulos-estudios{
    font-size: 1.8rem;
    color: #683166;
    font-style: italic;
}

.bajadas-estudios{
    font-size: 1.2rem;
}

/*experiencia laboral*/

#flex-experiencia-laboral{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
    border: solid;
    border-color: #683166;
    border-width: 10px;
    border-radius: 25px;
    padding: 40px;
}

.trabajos{
    font-size: 2.5rem;
    color: #683166;
    font-style: italic;
}

.titulos-trabajo{
    font-size: 1.8rem;
    color: #683166;
    font-style: italic;
}

.bajada-trabajos{
    font-size: 1.2rem;
}

/*Aca empieza otras skills*/

#flex-aptitudes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 25px;
}

/*idiomas*/

.caja-idiomas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #8e598c;
    border-radius: 25px;
    padding: 28px;
}

#idioma-titulo{
    font-size: 2.2rem;
    color: #ffd1ff;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

#idiomas{
    font-size: 1.2rem;
}

/*Aca empieza habilidades*/

#flex-skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #8e598c;
    border-radius: 25px;
    width: 875px;
}

#titulo-skill{
    font-size: 2.2rem;
    color: #ffd1ff;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 5px;
    justify-content: center;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
}

/*aca empieza el footer*/

footer{
    background-color: #683166;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.contacto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 50px;
    color: #ffd1ff;
}

footer p{
    font-size: 1.5rem;
    font-weight: 400;
    font-style: oblique;
    color: #ffd1ff;
}

.contact-button{
    background-color: #b481b2; 
    color: #ffd1ff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 10px;
    font-weight: bold;
    position: relative;
	display: inline-block;
	transition: transform 0.4s ease;
}

.contact-button:hover {
    opacity: 1;
	transform: scale(1.05);
}
    
.copyright{
    display: flex;
    align-items: center;
    gap: 20px;
   
}

/*aca empieza el formulario*/

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h4{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2.5rem;
    color: #ffd1ff;
}

form{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color:#8e598c;
    border-radius: 20px;
    padding: 25px;
    margin: 25px;
}

input{
    background-color: #ffd1ff;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 15px;
    border: #ffd1ff;
}

button{
    background-color: #ffd1ff;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 15px;
    border: #ffd1ff;
}

textarea{
    height: 200px;
    background-color: #ffd1ff;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 15px;
    border: #ffd1ff;
    color: #683166;
}

/*redes*/
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 90px;
    margin-right: 90px;
}

.boton_ig{
    position: relative;
	display: inline-block;
	transition: transform 0.4s ease;
}
.boton_ig:hover {
    opacity: 1;
	transform: scale(1.05);
}

.musica_de_espera{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*seccion-trabajos*/
h2{
    font-size: 2.8rem;
    font-weight: 400;
    font-style: oblique;
    color: #683166;
}

.bajada-proyectos{
    width: 56%;
    font-size: 1.5rem;
    color: #683166;
}

#branding{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

#galeria_proyectos{
    display: flex;
    justify-content: center;
    gap: 25px; 
    width: 80%; 
    margin: 45px auto;
}

/*seccion de galeria en tarjetas*/
.tarjeta{
    position: relative;
    left: 0;
    width: 100%; 
    border-radius: 90px; 
    height: 500px;
    overflow: hidden; 
    transition: .4s ease-in-out; 
    flex: .15; 
    max-width: 1000px;
}

.tarjeta img{
    position: relative; 
    height: 100%;
    width: 100%; 
    object-fit: cover; 
}

.tarjeta:hover{
    flex: 1 1 0; 
    cursor: pointer;
    border-radius: 60px;
}

.boton_p{
    position: relative;
	display: inline-block;
	transition: transform 0.4s ease;
}
.boton_p:hover {
    opacity: 1;
	transform: scale(1.05);
}
.boton_p img{
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*seccion de galeria otros trabajos*/

.mini_proyectos a {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
}

.mini_proyectos img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

/* efecto hover */
.especial a {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
}

.especial img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.especial a::after {
    content: "Fotografía +";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color_textosec);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.especial a:hover::after {
    opacity: 0.8;
}

.especial a:hover img {
    transform: scale(1.05);
}