/* CSS DOCUMENT */
@charset "UTF-8";

/*configuraciones generales*/

@font-face {
    font-family:"Magtis ExtraBold";
    src: url(Fonts/Magtis-ExtraBold-free\ personal\ use.otf) format(truetype);
}

* {
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: #ffd1ff;
}

section{
    width: 100vw;
}


/*aca empiezan las aplicaciones*/

header{
    background-color: #683166;
    padding: 10px;
}

#menu-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.botonera{
    display: flex;
    gap: 180px;
    padding: 50px;
}

.boton{
    text-decoration: none;
    color: #ffd1ff;
    border: solid;
    border-color: #ffd1ff;
    border-radius: 10px;
    padding: 10px;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* todo hero*/

#hero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: #b481b2;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: "Magtis ExtraBold";
    color: #1d1525;
    font-size: 10rem;
}

#bajada{
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 100px;
}

/*aca empieza mi presentación*/
/*esto es sobre mi*/

#sobre-mi{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.foto_cv{
    margin: 20px;
    border-radius: 15px;
}

.flexdatos{
    background-color: #683166;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    border-radius: 25px;
    max-width: 650px;
}

#subtitulo-presentación{
    font-size: 2.5rem;
    color: #ffd1ff;
    font-style: italic;
}

#texto-presentación{
    font-size: 1.5rem;
    color: #ffd1ff;
}

/*esto es mis conocimientos y experiencias*/

#conocimientos-experiencias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 25px;
}

/*estudios*/

.caja-estudios{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border: solid;
    border-color: #683166;
    border-width: 10px;
    border-radius: 25px;
    padding: 40px;
}

#estudios{
    font-size: 2.5rem;
    color: #683166;
    font-style: italic;
}

.titulos-estudios{
    font-size: 1.8rem;
    color: #683166;
    font-style: italic;
}

.bajadas-estudios{
    font-size: 1.2rem;
}

/*experiencia laboral*/

#flex-experiencia-laboral{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
    border: solid;
    border-color: #683166;
    border-width: 10px;
    border-radius: 25px;
    padding: 40px;
}

.trabajos{
    font-size: 2.5rem;
    color: #683166;
    font-style: italic;
}

.titulos-trabajo{
    font-size: 1.8rem;
    color: #683166;
    font-style: italic;
}

.bajada-trabajos{
    font-size: 1.2rem;
}

/*Aca empieza otras skills*/

#flex-aptitudes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 25px;
}

/*idiomas*/

.caja-idiomas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #8e598c;
    border-radius: 25px;
    padding: 28px;
}

#idioma-titulo{
    font-size: 2.2rem;
    color: #ffd1ff;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

#idiomas{
    font-size: 1.2rem;
}

/*Aca empieza habilidades*/

#flex-skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: #8e598c;
    border-radius: 25px;
    width: 875px;
}

#titulo-skill{
    font-size: 2.2rem;
    color: #ffd1ff;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 5px;
    justify-content: center;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 25px;
}

/*trabaja conmigo*/

#trabaja-conmigo{
    background-color: #683166;
    height: 200px;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

h2{
    font-size: 2.8rem;
    font-weight: 400;
    font-style: oblique;
    color: #ffd1ff;
}

/*aca empieza el footer*/

footer{
    background-color: #683166;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.canción{
    background-color: #b481b2;
    border-bottom: solid;
    border-bottom-width: 2px;
    padding: 20px;
    border-top: 5px solid #ffd1ff;
}

.contacto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 50px;
    color: #ffd1ff;
}

h3{
    font-size: 2rem;
    font-weight: 400;
    font-style: oblique;
    color: #ffd1ff;
}

.contact-button{
    background-color: #b481b2; 
    color: #ffd1ff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 10px;
    font-weight: bold;
}

#links{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffd1ff;
    font-size: 1.5rem;
}